@import "../../scss/mixin";
@import "../../scss/variables";

.movie-details-modal {
  padding: 0px;
  .MuiBackdrop-root{
    background-color:rgba(0, 0, 0, 0.8)
  }
  .MuiBox-root {
    outline: none;
  }
  .modal-modal {
    padding: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .close-button {
      position: absolute;
      color: $white;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }
    .modal-bg-img {
      min-height: 30%;
      overflow: hidden;
      border-radius: 12px 12px 0px 0px;
      background-size: cover;
      width: 100%;
    
    }
    .header-content {
      display: flex;
      flex-direction: row;
      padding: 12px 4vw;
      color: $white;
      overflow: auto;
      @include mq("ll") {
        overflow: visible;
      }
      .home-poster {
        max-height: 58vh;
        width: 45vw;
        max-width: 300px;
        img{
          height: 100%;
          width: 100%;
        }
        border-radius: 10px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2),
          0 4px 15px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        top: -150px;
        @include mq("ll") {
          display: block;
        }
        display: none;
      }
      .poster-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
        @include mq("ll") {
          padding-left: 40px;
          max-height: 500px;
          overflow: hidden;
        }
        .poster-details-1 {
          display: flex;
          flex-direction: column;
          .movie-title {
            font-size: 60px;
          }
          .movie-details {
            display: flex;
            flex-direction: row;
            .movie-details-runningTime {
              padding-right: 30px;
            }
            .movie-details-genres {
              padding-right: 30px;
              .genre-title{
              	&:after {
					        content: "/";
				        	display: inline-block;
			          	}

				        &:last-child:after {
				        	display: none;
				        }
              }
            }
            .movie-details-rating {
              padding-right: 30px;
            }
          }
          .movie-description {
            margin-top: 30px;
          }
          .movie-options {
            margin-top: 30px;
            display: flex;
            .movie-options-options {
              margin-right: 12px;
            }
            .MuiSelect-select.MuiSelect-select {
              background-color: $primary;
              border-radius: 5px;
            }
            .MuiOutlinedInput-input {
              padding: 8px 24px 8px 14px;

            }
          }
        }
        .poster-details-2 {
          display: flex;
          flex-direction: row;
          padding-top: 10px;
          flex-wrap: nowrap;
          padding-top: 20px;
          img {
            max-width: 300px;
            margin-right: 30px;
            border-radius: 5px;
          }
        }
        .modal-dropdown {
          display: flex;
          flex-direction: column;
          margin-top: 30px;
          flex-wrap: nowrap;
          width: 100%;
          min-height: 200px;
          overflow: auto;
          @include mq("ll") {
          min-height: auto;
          }
     
          .episodes-table {
            .episodes-table-table {
              .table {
                .table-row {
                  .table-row-play {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
