@import "../../scss/mixin";
@import "../../scss/variables";


.Playerpage{
    padding-top: 70px;
    overflow: hidden;
}
.Skeleton__Player{
    display: flex;
    flex-direction: column;
    padding: 0px 4vw;

}