@import "../../scss/mixin";
@import "../../scss/variables";


.Playerpage{
    padding-top: 70px;
    overflow: hidden;
}
@media only screen and (max-width: 674px) {
	.Playerpage {
        padding-top: 110px;
	}
}
.Skeleton__Player{
    display: flex;
    flex-direction: column;
    padding: 0px 4vw;

}