@import "../../scss/mixin";
@import "../../scss/variables";

.Signup{
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #ffa000, #558b2f, #141414);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    &--Logo{
        height: 50px;
    }
    
    &__Card{
        margin-top: 24px;
        margin-bottom: 24px;
        padding:2vw 4vw;
        background-color: rgba(20, 20, 20, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        max-width: 500px;
        width: 100%;
        &--Header{
            margin-bottom: 24px;
        }
        &--InputName{
            margin-bottom: 16px;
            width: 100%;
        }
        &--InputEmail{
            margin-bottom: 16px;
            width: 100%;
        }
    }
}