@import '../../scss/variables';
@import '../../scss/mixin';

.Skeleton__Banner {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 80vh;
  padding: 0 4vw;
  padding-bottom: 10vh;
  background: $black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  top: 70px;

  &--image{
    height: 68vh;
    width: 45vh;
  }
  &--content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 40px;
    justify-content: space-around;
  }

}