@import '../../scss/mixin';
@import '../../scss/variables';

.Homepage{
  position: absolute;
  background-color: $black;
  top:-70px;
  .main-header{
    position: relative;
    .header {
      position: relative;
      .image {
        filter: blur(5px);
        -webkit-filter: blur(5px);
        width: 100%;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        background: linear-gradient(to bottom, transparent 50%, $black 100%);
      }
      .header-content{
        position: absolute;
        top: 140px;
      }
    }
  }
}
